#button{
    color: #707070;
    padding: 8px 18px;
    background: transparent;
    border: 1px solid #707070;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
}

#button:hover{
    background-color: #707070;
    color: white;
    transition: 0.3s;
}

h6{
    font-size: 12px;
}

#footer{
    padding: 3% 10%;
    color:white;
    text-align: center;
}

#desFooter{
    font-size:30px;
    margin-bottom:6%;
}

.linkFooter:hover, .linkFooter:link, .linkFooter:visited{
    color: white;
    text-decoration: none;
}

.amiri{
    font-family: 'Amiri', serif;
    margin: auto;
    font-size: 25px;
}

h1{
    font-family: 'Amiri', serif;
}

#containerbg{
    background: #e6e6e6;
}

.cardfont{
    font-family: 'Montserrat', sans-serif;
    color: #1C1C1C;
    text-align: center;
}

.detail{
    margin-right:3px;
    border:1px solid #707070;
    border-radius: 35px;
    padding:4px 10px;
    font-size: 13px
}

.icon{
    width: auto;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-right: 15px;
}